<?xml version="1.0"?>
<launch>

  <arg name="simulation" default="true"/>

  <!-- Launch RVIZ TODO, Move to jimmbot_viz -->
  <arg default="$(find jimmbot_control)/launch/urdf.rviz" name="rvizconfig" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

  <!-- Load robot description -->
  <include file="$(find jimmbot_description)/launch/description.launch" />

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find jimmbot_control)/config/controller.yaml" />

  <!-- Publish joint states as tf from URDF -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <remap from="/joint_states" to="/jimmbot/joint_states"/>
  </node> -->

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
    <!-- <remap from="/joint_states" to="/jimmbot/joint_states"/> -->
  </node>

  <!-- Spawn controllers -->
  <node name="jimmbot_controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen"
        args="jimmbot_controller/jimmbot_joint_publisher jimmbot_controller/jimmbot_velocity_controller"/>
      
  <!-- Use the gui to control the speed -->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/jimmbot_controller/jimmbot_velocity_controller/cmd_vel"/> 
  </node>

</launch>
